

.Root{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 1em;
  overflow-x: hidden;
}

 
.Input{
  display: flex;
  flex-wrap: nowrap;
}




@supports not (gap: 1em){
  .Root{
    margin-left: -1em;
    margin-top: -1em;
    .Input{
      margin-left: 1em;
      margin-top: 1em
    }
  }
}