
.Root{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.Backdrop{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  background: hsla(0, 0%, 50%, 0.144);
}

.Modal{
    z-index: 2;
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'title close'
    'modal-content modal-content';
    gap: 1rem;
    max-width: 80%;
    max-height: 60%;
}

.Header{
  grid-area: title;
}

.Content{
  overflow: auto;
  grid-area: modal-content;
}

.Close {
  grid-area: close;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  >svg{
    width: 70%;
    height: 70%;
  }
}