.SubmitButton {
  font-size: inherit;
  border-radius: 1000rem;
  text-transform: uppercase;
  flex: 1;
}

.HintButton{
  margin: 0 var(--app-padding);
  flex: 0 0 auto;
  background: var(--clr-heart);
  font-size: 0.65em;
}