.SubmitButton {
  font-size: inherit;
  border-radius: 1000rem;
  text-transform: uppercase;
  flex: 1;
}

.HintButton{
  margin: 0 var(--app-padding);
  flex: 0 0 auto;
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  border-radius: 100%;
  font-size: inherit;
  background: var(--clr-heart);
  >svg{
    width: 1.5rem;
    height: 1.5rem;
  }
}